
# Framework Web Application:
Django==5.1.1


# Data Manipulation Libraries:
numpy==2.1.1
pandas==2.2.3

# Data Visualization Libraries:
matplotlib==3.9.2
seaborn==0.13.2

# Data Analysis Libraries:
scipy==1.14.1
scikit-learn==1.5.2

# Machine Learning Libraries:
tensorflow==2.17.0
keras==3.5.0

# Natural Language Processing Libraries:
nltk==3.9.1
spacy==3.8.2

# Web Scraping Libraries:
beautifulsoup4==4.12.3
requests==2.32.3

# Database Libraries:
sqlalchemy==2.0.35
psycopg2-binary==2.9.9

# Jupyter Notebook Libraries:
jupyter==1.1.1
notebook==7.2.2
ipywidgets==8.1.5

# Other Useful Libraries:
joblib==1.4.2

